.slider
	display flex
	align-items center
	width 100%
	height 16px
	cursor pointer

	&:hover
		& ^[0]__seeker
			top -5px
			right -7px
			width 14px
			height 14px

	&__time
		display none
		flex-shrink 1
		color var(--primary-text)
		font-size 13px
		font-weight 600

	&__box
		position relative
		flex-grow 1
		flex-shrink 1
		height 4px
		margin 0
		background rgba(255, 255, 255, .1)
		transition all .1s ease-out

	&__bg
		position absolute
		top 0
		left 0
		max-width 100%
		height 100%
		background var(--primary)

	&__seeker
		position absolute
		top -3px
		right -5px
		width 10px
		height 10px
		background-color var(--primary-light)
		border-radius 50%
		defaultTransition()

	&_with
		&_time
			& ^[0]
				&__time
					display block

				&__box
					margin 0 12px
