.page
	&_theme
		&_dark
			--primary-text #e0e0e0
			--secondary-text #cccccc
			--accent-text #ffffff
			--contrast-text #ffffff
			--primary-background #202020
			--secondary-background #1d1d1d
			--accent-background #333333
			--shadow rgba(0, 0, 0, .14)
			--error #C0392B
			--important #ff5d5d

		&_blue
			--primary #ff5d5d
			--primary-dark darken(#ff5d5d, 20%)
			--primary-light lighten(#ff5d5d, 20%)
			--secondary #747474
