.chat
	position relative
	display block

	&__iframe
		display block
		width 100%
		height 220px
		border none

	&__link
		position absolute
		top 0
		right 0
		padding 4px
		outline none

		& .icon
			width 24px
			height 24px
			fill var(--primary)
			background var(--primary-background)
			border-radius 0 0 0 4px
			defaultTransition()

			&:hover
				fill var(--primary-light)
