.volume-slider
	display flex
	justify-content flex-end
	align-items center

	&__button
		display inline-block
		flex-shrink 0
		margin 0
		padding 0
		color var(--secondary-text)
		cursor pointer
		background transparent
		border none
		outline none

		&:hover
			color var(--primary-light)

	&__icon
		display block
		flex-shrink 0
		width 36px
		max-width 36px
		height 36px
		max-height 36px
		fill currentColor

		&_type
			&_muted
				fill #ef5350

	&__slider
		flex-basis 100px
		max-width 80px
		margin 0 8px
